<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.vibebar.localvoice</string>
  <key>ProgramArguments</key>
  <array>
    <string>__PYTHON__</string><string>-m</string><string>vibebar_macos.voice_service</string>
  </array>
  <key>WorkingDirectory</key><string>__ROOT__</string>
  <key>EnvironmentVariables</key>
  <dict><key>PYTHONPATH</key><string>__ROOT__</string></dict>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>StandardErrorPath</key><string>__ROOT__/macos/voice.err.log</string>
  <key>StandardOutPath</key><string>__ROOT__/macos/voice.out.log</string>
</dict>
</plist>
