<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.vibebar.clipwatch</string>
  <key>ProgramArguments</key>
  <array><string>/bin/bash</string><string>-lc</string><string>exec "__ROOT__/bin/vibebar-clipwatch.sh"</string></array>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>StandardErrorPath</key><string>/tmp/com.vibebar.clipwatch.err</string>
</dict>
</plist>
