<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.vibebar.weekly</string>
  <key>ProgramArguments</key>
  <array><string>/bin/bash</string><string>-lc</string><string>exec "__ROOT__/bin/vibebar-week.sh"</string></array>
  <key>StartCalendarInterval</key><dict><key>Weekday</key><integer>0</integer><key>Hour</key><integer>10</integer><key>Minute</key><integer>0</integer></dict>
  <key>StandardOutPath</key><string>/tmp/com.vibebar.weekly.out</string>
  <key>StandardErrorPath</key><string>/tmp/com.vibebar.weekly.err</string>
</dict>
</plist>
